@charset "utf-8";
/* CSS Document */

body{background-color: black;}

#contenedor{width: 1200px;
			height: 1000px;
			margin: auto;}


header{width: 1200px;
	   height: 100px;
	   font-size: 80px;
	   background-color: deepskyblue;
	   color: black;
	   border: black 3px solid}


nav {width: 1200px;
	height: 150px;
	font-size: 20px;
	background-color: black;
	color: white;
	border: white 3px solid}

section{width: 1200px;
		height: 2350px;
		font-size: 20px;
		background-color: white;
		float: left;
		color: black;
		border: deeppink 3px solid}

aside{width: 200px;
	height: 600px;
	background-color: black;
	float: right}


footer{width: 1200px;
	height: 150px;
	background-color: black;
	clear: both;
	color: white;
	border: deeppink 3px solid;
	float: right}

a{font-size: 25px; color: deepskyblue; margin-left: 130px}

