@charset "utf-8";
/* CSS Document */

body{background-color: black;}

#contenedor{width: 1200px;
			height: 500px;
			margin: auto;}


header{width: 1200px;
	   height: 100px;
	   font-size: 80px;
	   background-color: deepskyblue;
	   color: black;
	   border: black 3px solid}


section{width: 700px;
		height: 1150px;
		font-size: 20px;
		background-color: white;
		float: center;
		color: black;
		border: deeppink 3px solid}

aside{width: 200px;
	height: 500px;
	background-color: hotpink;
	float: right;
	color: brown}

#m{width: 200px; height: 500px; border: deeppink 3px solid; margin-left: 20px; margin-top: -1000px}
#u{width: 200px; height: 500px; border: deeppink 3px solid; margin-left: 750px; margin-top: -500px}


footer{width: 1200px;
	height: 110px;
	background-color: black;
	clear: both;
	color: white;
	border: deeppink 3px solid}

a{font-size: 25px; color: deepskyblue; float: center}